.info {
    width: 50%;
}

/* Gameboard */

.gamecontainer {
    width: 60%;
}

.gametile {
    font-size: 3rem;
    padding: 0;
    max-width: 110px;
    display: table;
    border-radius: 10px;
    filter: drop-shadow(0 -5px 5px #626d791f);
    border: 1px solid rgba(255, 255, 255, 0.075);
}

.gamecontent {
    padding: 0;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

/* keyboard */

.key {
    max-width: 80px;
    padding: 0;
    margin: 0;
    display: table;
    border-radius: 10px;
    filter: drop-shadow(0 -5px 5px #626d791f);
}

.specialkey {
    max-width: 80px;
    padding: 0;
    margin: 0;
    display: table;
}

#delete, #enter {
    border-radius: 10px;
}

.keycontent {
    padding: 0;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

.key:hover{
    filter: brightness(1.4);
}

.key:active {
    filter: brightness(0.5);
}

.specialkey:hover {
    border-radius: 10px;
    filter: drop-shadow(0 0 6px #626d79cb);
}

.keycontent {
    -webkit-touch-callout: none; /* let's diable highlighting ability on the keyboard text */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gamecontent.highlight {
    /* animation: pulse 1.5s ease-in-out 0.1s 1; */
    border: 1px solid rgba(160, 105, 231, 0.466);
    border-radius: 10px;
}

/* @keyframes fade{
    0%   {background-color:rgba(255, 0, 0, 0);}
    100%  {background-color:rgba(0, 0, 255, 0);}
}
*/

@media (max-width: 576px) {

    .gamecontainer{
        width: 90%;
        padding: 0;
    }

    .info {
        width: 90%;
        padding: 0;
    }

}

@media (max-width: 768px) {

    .info {
        width: 90%;
    }

}