:root {
    --purple: rgb(160, 105, 231);
    --yellow: rgb(214, 171, 52, .85);
    --green: rgb(91, 216, 91, .85);
    --red: rgba(221, 73, 73, 0.85);
}

.fg-green {
    color: var(--green);
}

.fg-yellow {
    color: var(--yellow);
}

.border-purple {
    border-color: var(--purple) !important;
}

.info {
    width: 50%;
}

#result {
    opacity: 0;
    transition: 1s ease-in-out;
    margin-bottom: -15em;
}

.btn-secondary {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--purple);
    border-radius: 0.5em;
}

.btn-secondary:hover {
    background-color: var(--purple);
    transition: 0.5s ease;
}

.help {
    color: var(--purple);
}

/* Gameboard */

.gamecontainer {
    width: 60%;
}

.gametile {
    font-size: 3rem;
    padding: 0;
    max-width: 110px;
    display: table;
    border-radius: 10px;
    filter: brightness(120%);
    /* drop-shadow(0 -5px 5px #626d791f); */
}

.gamecontent {
    padding: 0;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

/* keyboard */

.key {
    max-width: 60px;
    padding: 0;
    margin: 0;
    display: table;
    border-radius: 10px;
    transition: 1s ease;
    filter: brightness(120%);
    /* drop-shadow(0 -5px 5px #626d791f); */
}

.key.grey {
    filter: opacity(20%);
}

.specialkey {
    max-width: 60px;
    padding: 0;
    margin: 0;
    display: table;
    filter: brightness(120%);
    /* drop-shadow(0 -5px 5px #626d791f); */
}

#delete, #enter {
    border-radius: 10px;
}

.keycontent {
    padding: 0;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

.key:hover:not(.key.grey){
    filter: brightness(1.4);
}

.key:active {
    filter: brightness(0.5);
}

.specialkey:hover {
    border-radius: 10px;
    filter: drop-shadow(0 0 6px #626d79cb);
}

.keycontent {
    -webkit-touch-callout: none; /* let's diable highlighting ability on the keyboard text */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gamecontent.highlight {
    /* animation: pulse 1.5s ease-in-out 0.1s 1; */
    transition: .5s ease;
    border: 1px solid var(--purple);
    border-radius: 10px;
}

.gamecontent.yellow {
    /* animation: pulse 1.5s ease-in-out 0.1s 1; */
    transition: .5s ease;
    border: 1px solid var(--yellow);
    border-radius: 10px;
}

.gamecontent.green {
    /* animation: pulse 1.5s ease-in-out 0.1s 1; */
    transition: .5s ease;
    border: 1px solid var(--green);
    border-radius: 10px;
}

.gamecontent.warning {
    animation: fade 1s ease-in-out 0.1s 3;
    /* transition: .5s ease; */
    border: 1px solid rgba(0, 0, 255, 0);
    border-radius: 10px;
}

@keyframes fade{
    0%  {border-color:rgba(0, 0, 255, 0);}
    50%   {border-color: var(--red);}
    100%  {border-color:rgba(0, 0, 255, 0);}
}

@media (max-width: 576px) {

    .gamecontainer{
        width: 90%;
        padding: 0;
    }

    .info {
        width: 90%;
        padding: 0;
    }

    .help {
        display: none;
    }

}

@media (max-width: 768px) {

    .info {
        width: 90%;
    }

}